<?xml version="1.0" encoding="UTF-8" ?>
<root>
  <!--log config-->
  <Log>
    <!--identify path of log file-->
    <log_path>./</log_path>
    <log_prefix>test_http_server</log_prefix>

    <!--identify max size of single log file, MB-->
    <log_max_file_size>5</log_max_file_size>

    <!--log level: DEBUG < INFO < WARN < ERROR < NONE(don't print log)-->
    <rpc_log_level>DEBUG</rpc_log_level>
    <app_log_level>DEBUG</app_log_level>

    <!--inteval that put log info to async logger, ms-->
    <log_sync_inteval>500</log_sync_inteval>
  </Log>

  <Server>
    <serverip>127.0.0.1</serverip>
    <serverport>19999</serverport>
    <serverprotocal>HTTP</serverprotocal>
  </Server>

</root>